In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

__read data from database__

In [2]:
with open('/Users/martindanek/Documents/programovani/autent.txt',
          encoding='utf-8') as file:
    autent_list = eval(file.read())['raspberry']['mariadb']

user = autent_list[0]
psw = autent_list[2]

conn_string = f"mysql+pymysql://{user}:{psw}@192.168.0.199/engeto"
pi_conn = create_engine(conn_string, echo=True)

In [3]:
df_full = pd.read_sql_query(
    """
    WITH b_rate AS (
        SELECT *
        FROM `BX-Book-Ratings`
        WHERE `Book-Rating` <> 0
    ), b_isbn AS (
        SELECT *
        FROM `BX-Books`
    ), b_user AS (
        SELECT *
        FROM `BX-Users`
        WHERE Age IS NOT NULL
    ), b_rate_age AS (
        SELECT
               br.`User-ID` AS user_id,
               br.ISBN AS isbn,
               br.`Book-Rating`AS rating,
               bu.Location AS location,
               bu.Age AS age
        FROM b_rate br
        JOIN b_user bu ON br.`User-ID` = bu.`User-ID`
    )
    SELECT
           bra.isbn,
           bi.`Book-Author` AS author,
           bi.`Book-Title`AS title,
           bi.Publisher AS publisher,
           bi.`Year-Of-Publication` AS year_of_publication,
           bi.`Image-URL-S` AS url_s,
           bi.`Image-URL-M` AS url_m,
           bi.`Image-URL-L` AS url_l,
           bra.rating,
           bra.user_id,
           bra.location,
           bra.age
    FROM b_rate_age bra
    JOIN b_isbn bi ON bra.isbn = bi.ISBN;
    """, pi_conn
)

2021-07-06 21:00:11,702 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-07-06 21:00:11,703 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-06 21:00:11,714 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-07-06 21:00:11,715 INFO sqlalchemy.engine.Engine [generated in 0.00136s] {}
2021-07-06 21:00:11,728 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-07-06 21:00:11,729 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-06 21:00:11,740 INFO sqlalchemy.engine.Engine
    WITH b_rate AS (
        SELECT *
        FROM `BX-Book-Ratings`
        WHERE `Book-Rating` <> 0
    ), b_isbn AS (
        SELECT *
        FROM `BX-Books`
    ), b_user AS (
        SELECT *
        FROM `BX-Users`
        WHERE Age IS NOT NULL
    ), b_rate_age AS (
        SELECT
               br.`User-ID` AS user_id,
               br.ISBN AS isbn,
               br.`Book-Rating`AS rating,
               bu.Location AS location,
               bu.Age AS age
        FROM b_rate br
        JOIN b_user bu ON br.`User-ID` = bu.`User-ID`
    )
    SELECT
           bra.isbn,
           bi.`Book-Author` AS author,
           bi.`Book-Title`AS title,
           bi.Publisher AS publisher,
           bi.`Year-Of-Publication` AS year_of_publication,
           bi.`Image-URL-S` AS url_s,
           bi.`Image-URL-M` AS url_m,
           bi.`Image-URL-L` AS url_l,
           bra.rating,
           bra.user_id,
           bra.location,
           bra.age
    FROM b_rate_age bra
    JOIN b_isbn bi ON bra.isbn = bi.ISBN;

2021-07-06 21:00:11,741 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
df_full.shape

(269630, 12)

In [5]:
df_ratings = pd.read_sql_query(
    """
    SELECT *
    FROM `BX-Book-Ratings`
    WHERE `Book-Rating` <> 0;
    """, pi_conn
)
df_ratings.head()

2021-07-06 21:00:31,671 INFO sqlalchemy.engine.Engine
    SELECT *
    FROM `BX-Book-Ratings`
    WHERE `Book-Rating` <> 0;

2021-07-06 21:00:31,681 INFO sqlalchemy.engine.Engine [raw sql] {}

   User-ID        ISBN  Book-Rating
0        8  0002005018            5
1        8  074322678X            5
2        8  0887841740            5
3        8  1552041778            5
4        8  1567407781            6

In [6]:
df_books = pd.read_sql_query(
    """
    SELECT *
    FROM `BX-Books`;
    """, pi_conn
)
df_books.head()

2021-07-06 21:00:42,681 INFO sqlalchemy.engine.Engine
    SELECT *
    FROM `BX-Books`;

2021-07-06 21:00:42,683 INFO sqlalchemy.engine.Engine [raw sql] {}

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0000913154,The Way Things Work: An Illustrated Encycloped...,C. van Amerongen (translator),1967,Simon &amp; Schuster,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...
1,0001010565,Mog's Christmas,Judith Kerr,1992,Collins,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...
2,0001046438,Liar,Stephen Fry,0,Harpercollins Uk,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...
3,0001046713,Twopence to Cross the Mersey,Helen Forrester,1992,HarperCollins Publishers,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...
4,000104687X,"T.S. Eliot Reading ""The Wasteland"" and Other P...",T.S. Eliot,1993,HarperCollins Publishers,http://images.amazon.com/images/P/000104687X.0...,http://images.amazon.com/images/P/000104687X.0...,http://images.amazon.com/images/P/000104687X.0...

In [7]:
df_rated_books = pd.merge(df_ratings, df_books, on=['ISBN'])

In [8]:
df_rated_books = df_rated_books.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)

__tolkien example__

user inserted name of favorite book or last book

In [9]:
book_title = 'the fellowship of the ring (the lord of the rings, part 1)'
book_author = 'tolkien'

selection = (df_rated_books['Book-Title'] == book_title) & (df_rated_books['Book-Author'].str.contains(book_author))
readers_tolkien = np.unique(df_rated_books.loc[selection, 'User-ID'].to_list())

__recomendation__

find other books of tolkien readers in database

count its frequency

find ratings more than ??? e.g. 7

In [10]:
selection = df_rated_books['User-ID'].isin(readers_tolkien)
df_suitable_books = df_rated_books.loc[selection, :]

In [11]:
# df_suit_books_freq = df_suitable_books.groupby(['Book-Title'])['Book-Rating', 'User-ID'].agg('count').reset_index()
df_suit_books_freq = df_suitable_books\
    .groupby(['Book-Title'])\
    .agg({'Book-Rating': 'count', 'User-ID': 'count'})\
    .reset_index()

<ipython-input-11-c7cbfa697071>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_suit_books_freq = df_suitable_books.groupby(['Book-Title'])['Book-Rating', 'User-ID'].agg('count').reset_index()

In [12]:
selection = df_suit_books_freq['User-ID'] >= 8
books_to_compare = df_suit_books_freq.loc[selection, 'Book-Title'].to_list()

selection = df_suitable_books['Book-Title'].isin(books_to_compare)
df_ratings_data_raw = df_suitable_books.loc[selection, ['User-ID', 'Book-Rating', 'Book-Title']]
df_ratings_data_raw.head(10)

df_mean_rate = df_ratings_data_raw.groupby(['User-ID', 'Book-Title'])['Book-Rating'].mean().reset_index()

In [13]:
dataset_for_corr = df_mean_rate.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
dataset_for_corr

Book-Title,1984,1st to die: a novel,a painted house,a time to kill,a wrinkle in time,angels &amp; demons,bridget jones's diary,dolores claiborne,dreamcatcher,ender's game (ender wiggins saga (paperback)),...,the testament,the tommyknockers,"the two towers (the lord of the rings, part 2)","the vampire lestat (vampire chronicles, book ii)","the waste lands (the dark tower, book 3)",to kill a mockingbird,"tuesdays with morrie: an old man, a young man, and life's greatest lesson",violets are blue,watership down,where the heart is (oprah's book club (paperback))
User-ID,,,,,,,,,,,,,,,,,,,,,
254,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11676,10.0,9.0,9.0,NaN,9.0,8.0,6.333333,8.0,8.666667,9.0,...,7.0,7.5,10.0,8.0,NaN,9.0,9.0,5.5,5.0,10.0
11944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276313,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
LoR_list = ['the fellowship of the ring (the lord of the rings, part 1)']

result_list = []
worst_list = []

# for each of the trilogy book compute:
for LoR_book in LoR_list:

    #Take out the Lord of the Rings selected book from correlation dataframe
    dataset_of_other_books = dataset_for_corr.copy(deep=False)
    dataset_of_other_books.drop([LoR_book], axis=1, inplace=True)

    # empty lists
    book_titles = []
    correlations = []
    avgrating = []

    # corr computation
    for book_title in list(dataset_of_other_books.columns.values):
        book_titles.append(book_title)
        correlations.append(dataset_for_corr[LoR_book].corr(dataset_of_other_books[book_title], method='kendall'))
        tab = (df_ratings_data_raw[df_ratings_data_raw['Book-Title'] == book_title].groupby(df_ratings_data_raw['Book-Title']).mean())
        avgrating.append(tab['Book-Rating'].min())

    corr_fellowship = pd.DataFrame(list(zip(book_titles, correlations, avgrating)), columns=['book','corr','avg_rating'])
    corr_fellowship.head()

    result_list.append(corr_fellowship.sort_values('corr', ascending = False).head(10))

    worst_list.append(corr_fellowship.sort_values('corr', ascending = False).tail(10))

print("Correlation for book:", LoR_list[0])

rslt = result_list[0]

Correlation for book: the fellowship of the ring (the lord of the rings, part 1)

In [15]:
result_list[0]

                                                 book      corr  avg_rating
66                                      the testament  0.784465    8.000000
58  the return of the king (the lord of the rings,...  0.780697    9.410959
53                              the phantom tollbooth  0.769231    8.500000
9       ender's game (ender wiggins saga (paperback))  0.727860    9.307692
33                                           stardust  0.726273    7.500000
24                                                 it  0.690882    8.333333
55                                the prince of tides  0.666973    7.500000
36                                         the client  0.666769    8.100000
29                                       pet sematary  0.643596    7.636364
4                                   a wrinkle in time  0.635542    8.357143