In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
with open('/Users/martindanek/Documents/programovani/autent.txt',
          encoding='utf-8') as file:
    autent_list = eval(file.read())['raspberry']['mariadb']

user = autent_list[0]
psw = autent_list[2]

conn_string = f"mysql+pymysql://{user}:{psw}@192.168.0.199/engeto"
pi_conn = create_engine(conn_string, echo=True)

In [3]:
df_ratings = pd.read_sql_query("SELECT * FROM `BX-Book-Ratings`;", pi_conn)
df_users = pd.read_sql_query("SELECT * FROM `BX-Users`;", pi_conn)
df_books = pd.read_sql_query("SELECT * FROM `BX-Books`;", pi_conn)

2021-07-04 19:50:22,117 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-07-04 19:50:22,118 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-04 19:50:22,130 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-07-04 19:50:22,131 INFO sqlalchemy.engine.Engine [generated in 0.00110s] {}
2021-07-04 19:50:22,143 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-07-04 19:50:22,144 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-04 19:50:22,158 INFO sqlalchemy.engine.Engine SELECT * FROM `BX-Book-Ratings`;
2021-07-04 19:50:22,159 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-04 19:50:58,825 INFO sqlalchemy.engine.Engine SELECT * FROM `BX-Users`;
2021-07-04 19:50:58,826 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-07-04 19:51:05,650 INFO sqlalchemy.engine.Engine SELECT * FROM `BX-Books`;
2021-07-04 19:51:05,651 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0        2  0195153448            0
1        7   034542252            0
2        8  0002005018            5
3        8  0060973129            0
4        8  0374157065            0

In [5]:
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
df_books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0000913154,The Way Things Work: An Illustrated Encycloped...,C. van Amerongen (translator),1967,Simon &amp; Schuster,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...,http://images.amazon.com/images/P/0000913154.0...
1,0001010565,Mog's Christmas,Judith Kerr,1992,Collins,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...,http://images.amazon.com/images/P/0001010565.0...
2,0001046438,Liar,Stephen Fry,0,Harpercollins Uk,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...,http://images.amazon.com/images/P/0001046438.0...
3,0001046713,Twopence to Cross the Mersey,Helen Forrester,1992,HarperCollins Publishers,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...,http://images.amazon.com/images/P/0001046713.0...
4,000104687X,"T.S. Eliot Reading ""The Wasteland"" and Other P...",T.S. Eliot,1993,HarperCollins Publishers,http://images.amazon.com/images/P/000104687X.0...,http://images.amazon.com/images/P/000104687X.0...,http://images.amazon.com/images/P/000104687X.0...

In [7]:
select = df_ratings['Book-Rating'] != 0
df_ratings.loc[select, ['Book-Rating']].describe()

         Book-Rating
count  433671.000000
mean        7.601066
std         1.843798
min         1.000000
25%         7.000000
50%         8.000000
75%         9.000000
max        10.000000

In [8]:
df_ratings.loc[select, ['User-ID']]['User-ID'].nunique()

77805

In [11]:
list_user_rating = df_ratings.loc[select, :]['User-ID'].unique()

array([     8,      9,     10, ..., 278851, 278852, 278854])